<div class="absolute bottom-0 right-0 p-6">
    <button class="slider-previous bg-white text-black rounded-full border-gray-200 py-2 hover:bg-primary hover:text-white px-3">
      <div class="flex flex-row align-middle">
        <svg class="w-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
        </svg>
      </div>
    </button>
    <button class="slider-next bg-white text-black rounded-full border-gray-200 py-2 hover:bg-primary hover:text-white px-3">
      <div class="flex flex-row align-middle">
        <svg class="w-5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </div>
    </button>
</div>

<div class="absolute bottom-0 left-0 p-6">
    <p>{new Date().getFullYear()} &copy; Folio</p>
</div>

<div class="absolute top-0 right-0 p-6">
  <a href="./">
    <img src="logo.svg" class="w-6 md:w-10">
  </a>
</div>